.cards-flex {
  display: flex;
  padding-top: 0%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}
.low-Info{
  color:  #00214c;
  font-family:cursive;
}
.card-box {
  width: 20%;
  margin: 1rem;
  padding: 1%;
  border-radius: 3%;
  margin-bottom: 2rem;
}
.swiper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.addToCart{
  border: none;
  width: 100%;
  border-radius: 1%;
  height: 3%;
  font-weight: 700;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #004badc1;
  left: 0%;
}
.addToCart:hover{
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%), 0 4px 22px #004badc2;
}
.card-info-flex {
  display: flex;
  margin: 0;
  color:  #004badc1;
  font-family:cursive;
  justify-content:center;
  align-items: center;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card-box .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

@media all and (max-width: 1000px) {
  .card-box {
    width: 30%;
   margin: 8%;
    margin-bottom: 2rem;
  }
  .swiper-container,
  .card-img {
    height: 100%;
    width: 100%;
  }
  .cards-flex {
    padding: 0px;
  }
}

@media all and (max-width: 500px) {
  .card-box {
    width: 100%;
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .addToCart{
    height: 10%;
    border-radius: 3%;
  }
  .swiper-container,
  .card-img {
    height: 50%;
    max-height: 400px;
    width: 90%;
  }

  .cards-flex {
    padding: 0px;
  }
}
